@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "微软雅黑";
  text-decoration: none;
  list-style: none; }

.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

body {
  background: url(../images/register_bg_02.jpg); }
  body #reg {
    overflow: hidden;
    width: 450px;
    height: 590px;
    background: #fdfdfd;
    margin: 105px auto;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: #dedbdb 0px 20px 50px 1px; }
    body #reg #reg_tit {
      background: url(../images/reg_title_bg_05.jpg);
      padding: 0;
      text-align: center;
      border-bottom: 1px solid #dcdcdc;
      line-height: 60px;
      height: 60px;
      box-shadow: #f4f1f1 0px 2px 20px 1px; }
      body #reg #reg_tit span {
        font-weight: 700;
        color: #666;
        font-size: 20px; }
    body #reg #reg_box {
      background: url(../images/reg_box_bg_05.jpg);
      padding-top: 30px;
      height: 520px; }
      body #reg #reg_box .blur {
        border: 1px solid #d16d62 !important; }
      body #reg #reg_box .focusin {
        border: 1px solid #6b93f2 !important; }
      body #reg #reg_box .oInp {
        width: 370px;
        height: 48px;
        margin: 0 auto;
        margin-bottom: 15px;
        border: 1px solid #dedede;
        border-radius: 8px;
        position: relative;
        box-shadow: #f4f1f1 0px 1px 10px 1px inset; }
        body #reg #reg_box .oInp .warning_tel {
          width: 104px;
          height: 27px;
          border-radius: 5px;
          background: #d16d62;
          color: #fff;
          display: none;
          text-align: center;
          line-height: 27px;
          position: absolute;
          right: 10px;
          top: 10px; }
        body #reg #reg_box .oInp .C_select {
          width: 242px;
          height: 270px;
          position: absolute;
          display: none;
          top: 50px;
          right: 6px;
          background: white;
          z-index: 3;
          overflow: auto;
          border: 1px solid #dadada;
          border-radius: 5px;
          box-shadow: #ccc 3px 7px 10px 1px; }
          body #reg #reg_box .oInp .C_select li {
            border-bottom: 1px solid #dadada; }
            body #reg #reg_box .oInp .C_select li a {
              color: #999;
              font-size: 14px;
              display: inline-block;
              width: 95%;
              line-height: 40px;
              padding-left: 10px; }
              body #reg #reg_box .oInp .C_select li a:hover {
                background: #fafafa;
                font-weight: 700;
                color: #7d6666; }
        body #reg #reg_box .oInp .warning_password {
          width: 104px;
          height: 27px;
          border-radius: 5px;
          background: #d16d62;
          color: #fff;
          display: none;
          text-align: center;
          line-height: 27px;
          position: absolute;
          right: 10px;
          top: 10px; }
        body #reg #reg_box .oInp .C_password {
          width: 350px;
          height: 52px;
          position: absolute;
          background: white;
          border: 1px solid #dadada;
          border-radius: 5px;
          box-shadow: #ccc 3px 7px 10px 1px;
          z-index: 3;
          display: none;
          top: 49px; }
          body #reg #reg_box .oInp .C_password p {
            font-size: 14px;
            color: #999;
            line-height: 52px;
            text-align: center; }
        body #reg #reg_box .oInp .icon_box {
          width: 48px;
          height: 48px;
          display: inline-block;
          border-right: 1px solid #dedede;
          text-align: center;
          line-height: 48px; }
          body #reg #reg_box .oInp .icon_box i {
            color: #bbbbbb;
            font-size: 18px; }
        body #reg #reg_box .oInp .C_text {
          color: #9e9e9e;
          font-size: 15px;
          cursor: default;
          margin-left: 10px; }
        body #reg #reg_box .oInp .C_icon {
          float: right;
          display: inline-block;
          text-align: center;
          line-height: 50px;
          width: 90px;
          color: #9e9e9e; }
          body #reg #reg_box .oInp .C_icon span {
            font-size: 15px; }
          body #reg #reg_box .oInp .C_icon i {
            font-size: 12px;
            color: #cfcfcf; }
        body #reg #reg_box .oInp .C_num {
          color: #9e9e9e;
          font-size: 15px;
          cursor: default;
          margin-left: 10px; }
        body #reg #reg_box .oInp .iphone, body #reg #reg_box .oInp .password, body #reg #reg_box .oInp .password_1 {
          height: 30px;
          line-height: 30px;
          border: none;
          outline: none;
          font-size: 15px;
          margin-left: 10px; }
      body #reg #reg_box .oInp_box {
        width: 370px;
        margin: 0 auto; }
        body #reg #reg_box .oInp_box .yanzhengma {
          display: inline-block;
          width: 228px; }
          body #reg #reg_box .oInp_box .yanzhengma .email {
            height: 30px;
            line-height: 30px;
            width: 70%;
            border: none;
            outline: none;
            font-size: 15px;
            padding-left: 5px; }
        body #reg #reg_box .oInp_box .yanzhengma_btn {
          width: 133px;
          height: 50px;
          border: 1px solid #f3f3f3;
          background: #fcfcfc;
          text-align: center;
          line-height: 50px;
          color: #b7b7b7;
          font-size: 15px;
          outline: none;
          border-radius: 8px;
          float: right; }
      body #reg #reg_box .clause_box {
        width: 370px;
        margin: 0 auto; }
        body #reg #reg_box .clause_box .yes_btn {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: inline-block;
          float: left;
          background: url(../images/yes_gray_05.jpg) no-repeat center center; }
        body #reg #reg_box .clause_box .active {
          background: url(../images/yes_blue_05.jpg) no-repeat center center; }
        body #reg #reg_box .clause_box .clause {
          float: left;
          line-height: 15px;
          margin-left: 8px;
          color: #999ca1; }
    body #reg .reg_btn {
      width: 366px;
      height: 50px;
      text-align: center;
      margin: 0 auto;
      margin-top: 24px;
      padding-bottom: 25px;
      border-bottom: 1px solid #d9d9d9; }
      body #reg .reg_btn a {
        display: inline-block;
        width: 100%;
        font-size: 17px;
        line-height: 50px;
        color: #fff;
        line-height: 50px;
        border-radius: 5px;
        background: linear-gradient(#bacaec, #bccced);
        border: 1px solid #bcc6e1; }
    body #reg .last_box {
      text-align: center;
      margin-top: 20px; }
      body #reg .last_box .last {
        text-align: center;
        color: #999ca1; }
        body #reg .last_box .last span {
          color: #5687f0; }
